/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24-May-2024, 12:16:15 am
    Author     : PRANTIK
*/
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22-May-2024, 7:01:12 pm
    Author     : PRANTIK
*/

body {
    background-color: rgba(144, 238, 144, 0.5); /* Light green with transparency */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.thank-you-message {
    font-size: 3em;
    color: #333;
}
